# Dataset from IMDB dowloaded from https://developer.imdb.com/non-commercial-datasets/
## Please download title.basics.tsv.gz and title.ratings.tsv.gz and put them in the data/ folder (unzip)

In [8]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import re
import importlib
import os
import kagglehub
import ast
import math

In [9]:
import sys
sys.path.append('scripts/')
import scraping, merge_goodreads, merge_cmu, merge_imdb
from scraping import *
from merge_goodreads import *
from merge_cmu import *
from merge_imdb import *

# Scraping data from wikipedia
We must first define the url that we will scrap data from. They will allow us to make a mapping between books and their film adaptation.

In [10]:
# URL of the Wikipedia page
url_0_C = "https://en.wikipedia.org/wiki/List_of_fiction_works_made_into_feature_films_(0%E2%80%939,_A%E2%80%93C)"
url_D_J = "https://en.wikipedia.org/wiki/List_of_fiction_works_made_into_feature_films_(D%E2%80%93J)"
url_K_R = "https://en.wikipedia.org/wiki/List_of_fiction_works_made_into_feature_films_(K%E2%80%93R)"
url_S_Z = "https://en.wikipedia.org/wiki/List_of_fiction_works_made_into_feature_films_(S%E2%80%93Z)"
url_short = "https://en.wikipedia.org/wiki/List_of_short_fiction_made_into_feature_films"
url_kids = "https://en.wikipedia.org/wiki/List_of_children%27s_books_made_into_feature_films"

urls = [url_0_C, url_D_J, url_K_R, url_S_Z, url_short, url_kids]

Then, we scrap and process data from these wikipedia pages.

In [11]:
# Launches the scrapping on every url selected
dataframes = []
for url in urls: 
    df = scrap_book_to_movie(url)
    clean_df = scrap_post_processing(df)
    dataframes.append(clean_df)

book_adaptations = pd.concat(dataframes).reset_index(drop=True)
book_adaptations = book_adaptations.drop_duplicates().reset_index(drop=True)
book_adaptations.to_csv('book_adaptations.csv', index=False)

c:\Users\Iris\ada-2024-project-padamalgame\src\scripts\scraping.py:72: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['BookTitle'] = df['fiction_work'].str.split('(').str[0]
c:\Users\Iris\ada-2024-project-padamalgame\src\scripts\scraping.py:73: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['BookTitle'] = df['BookTitle'].apply(lambda t: t.replace('"', ''))
c:\Users\Iris\ada-2024-project-padamalgame\src\scripts\scraping.py:76: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['BookAuthor'] = df_split_comma.apply(extract_authors)
c:\Users\Iris\ada-2024-project-padamalgame\src\scripts\scraping.py:77: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['BookAuthor'] = clean_authors(df['BookAuthor'])
c:\Users\Iris\ada-2024-project-padamalgame\src\scripts\scraping.py:79: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['BookYear'] = df['fiction_work'].apply(extract_years_books)
c:\Users\Iris\ada-2024-project-padamalgame\src\scripts\scraping.py:80: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['BookStartYear'] = df['BookYear'].apply(lambda x: x[0])
c:\Users\Iris\ada-2024-project-padamalgame\src\scripts\scraping.py:81: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['BookEndYear'] = df['BookYear'].apply(lambda x: x[-1])
c:\Users\Iris\ada-2024-project-padamalgame\src\scripts\scraping.py:82: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop('BookYear', axis=1, inplace=True)
c:\Users\Iris\ada-2024-project-padamalgame\src\scripts\scraping.py:84: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['FilmTitle'] = df['film_adaptations'].str.split('(').str[0]
c:\Users\Iris\ada-2024-project-padamalgame\src\scripts\scraping.py:85: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['FilmYear'] = df['film_adaptations'].apply(extract_years_film)
c:\Users\Iris\ada-2024-project-padamalgame\src\scripts\scraping.py:95: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df['FilmTitle'][indexes] = df['FilmTitle'][target_ind]
c:\Users\Iris\ada-2024-project-padamalgame\src\scripts\scraping.py:96: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df['FilmYear'][indexes] = df['FilmYear'][target_ind]
c:\Users\Iris\ada-2024-project-padamalgame\src\scripts\scraping.py:72: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['BookTitle'] = df['fiction_work'].str.split('(').str[0]
c:\Users\Iris\ada-2024-project-padamalgame\src\scripts\scraping.py:73: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['BookTitle'] = df['BookTitle'].apply(lambda t: t.replace('"', ''))
c:\Users\Iris\ada-2024-project-padamalgame\src\scripts\scraping.py:76: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['BookAuthor'] = df_split_comma.apply(extract_authors)
c:\Users\Iris\ada-2024-project-padamalgame\src\scripts\scraping.py:77: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['BookAuthor'] = clean_authors(df['BookAuthor'])
c:\Users\Iris\ada-2024-project-padamalgame\src\scripts\scraping.py:79: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['BookYear'] = df['fiction_work'].apply(extract_years_books)
c:\Users\Iris\ada-2024-project-padamalgame\src\scripts\scraping.py:80: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['BookStartYear'] = df['BookYear'].apply(lambda x: x[0])
c:\Users\Iris\ada-2024-project-padamalgame\src\scripts\scraping.py:81: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['BookEndYear'] = df['BookYear'].apply(lambda x: x[-1])
c:\Users\Iris\ada-2024-project-padamalgame\src\scripts\scraping.py:82: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop('BookYear', axis=1, inplace=True)
c:\Users\Iris\ada-2024-project-padamalgame\src\scripts\scraping.py:84: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['FilmTitle'] = df['film_adaptations'].str.split('(').str[0]
c:\Users\Iris\ada-2024-project-padamalgame\src\scripts\scraping.py:85: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['FilmYear'] = df['film_adaptations'].apply(extract_years_film)
c:\Users\Iris\ada-2024-project-padamalgame\src\scripts\scraping.py:95: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df['FilmTitle'][indexes] = df['FilmTitle'][target_ind]
c:\Users\Iris\ada-2024-project-padamalgame\src\scripts\scraping.py:96: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df['FilmYear'][indexes] = df['FilmYear'][target_ind]
c:\Users\Iris\ada-2024-project-padamalgame\src\scripts\scraping.py:72: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['BookTitle'] = df['fiction_work'].str.split('(').str[0]
c:\Users\Iris\ada-2024-project-padamalgame\src\scripts\scraping.py:73: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['BookTitle'] = df['BookTitle'].apply(lambda t: t.replace('"', ''))
c:\Users\Iris\ada-2024-project-padamalgame\src\scripts\scraping.py:76: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['BookAuthor'] = df_split_comma.apply(extract_authors)
c:\Users\Iris\ada-2024-project-padamalgame\src\scripts\scraping.py:77: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['BookAuthor'] = clean_authors(df['BookAuthor'])
c:\Users\Iris\ada-2024-project-padamalgame\src\scripts\scraping.py:79: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['BookYear'] = df['fiction_work'].apply(extract_years_books)
c:\Users\Iris\ada-2024-project-padamalgame\src\scripts\scraping.py:80: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['BookStartYear'] = df['BookYear'].apply(lambda x: x[0])
c:\Users\Iris\ada-2024-project-padamalgame\src\scripts\scraping.py:81: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['BookEndYear'] = df['BookYear'].apply(lambda x: x[-1])
c:\Users\Iris\ada-2024-project-padamalgame\src\scripts\scraping.py:82: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop('BookYear', axis=1, inplace=True)
c:\Users\Iris\ada-2024-project-padamalgame\src\scripts\scraping.py:84: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['FilmTitle'] = df['film_adaptations'].str.split('(').str[0]
c:\Users\Iris\ada-2024-project-padamalgame\src\scripts\scraping.py:85: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['FilmYear'] = df['film_adaptations'].apply(extract_years_film)
c:\Users\Iris\ada-2024-project-padamalgame\src\scripts\scraping.py:95: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df['FilmTitle'][indexes] = df['FilmTitle'][target_ind]
c:\Users\Iris\ada-2024-project-padamalgame\src\scripts\scraping.py:96: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df['FilmYear'][indexes] = df['FilmYear'][target_ind]
c:\Users\Iris\ada-2024-project-padamalgame\src\scripts\scraping.py:72: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['BookTitle'] = df['fiction_work'].str.split('(').str[0]
c:\Users\Iris\ada-2024-project-padamalgame\src\scripts\scraping.py:73: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['BookTitle'] = df['BookTitle'].apply(lambda t: t.replace('"', ''))
c:\Users\Iris\ada-2024-project-padamalgame\src\scripts\scraping.py:76: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['BookAuthor'] = df_split_comma.apply(extract_authors)
c:\Users\Iris\ada-2024-project-padamalgame\src\scripts\scraping.py:77: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['BookAuthor'] = clean_authors(df['BookAuthor'])
c:\Users\Iris\ada-2024-project-padamalgame\src\scripts\scraping.py:79: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead


We now have a dataframe with 4941 film adaptations together with the book they are adapting.

# Merge with Goodreads
We will now merge the book to movie mapping with the goodreads dataset to have additional information on the books.

First we download the dataset from kaggle

In [12]:
path = kagglehub.dataset_download("bahramjannesarr/goodreads-book-datasets-10m")

Warning: Looks like you're using an outdated `kagglehub` version, please consider updating (latest version: 0.3.5)

In [13]:
df_movies = book_adaptations.copy()
df_goodreads = books_csv_to_df(path)

df_goodreads['merge_authors'] = clean_spaces(df_goodreads['Authors'])
df_goodreads['merge_names'] = clean_spaces(df_goodreads['Name'])
df_goodreads['merge_names'] = remove_parenthesis(df_goodreads['merge_names'])


df_movies['merge_authors'] = clean_spaces(df_movies['BookAuthor'])
df_movies['merge_names'] = clean_spaces(df_movies['BookTitle'])
df_movies['merge_names'] = remove_parenthesis(df_movies['merge_names'])

merge_goodreads = df_goodreads.merge(right=df_movies, how="right", left_on=['merge_authors', 'merge_names'], right_on=['merge_authors', 'merge_names'], copy=False)
merge_goodreads = merge_goodreads.drop_duplicates(subset = df_movies.columns).reset_index(drop=True)
columns = ['FilmYear', 'FilmTitle', 'BookAuthor', 'BookTitle', 'BookStartYear', 'BookEndYear', 'Description', 'Rating', 'RatingDistTotal', 'Language']
merge_goodreads = merge_goodreads[columns]
merge_goodreads.rename({'RatingDistTotal': 'BookRatingNb', 'Description' : 'BookDescription', 'Rating': 'BookRating', 'Language' : 'BookLanguage'}, axis=1, inplace=True)
merge_goodreads.BookRatingNb = merge_goodreads.BookRatingNb.apply(lambda x: x.split(":")[-1] if isinstance(x, str) else None)
merge_goodreads

,FilmYear,FilmTitle,BookAuthor,BookTitle,BookStartYear,BookEndYear,BookDescription,BookRating,BookRatingNb,BookLanguage
0,2002,25th Hour,David Benioff,The 25th Hour,2001,2001,David Benioff's character-driven debut novel; ...,3.81,5015,NaN
1,2015,Grasshopper,Kōtarō Isaka,3 Assassins,2004,2004,NaN,NaN,None,NaN
2,1961,"Murder, She Said",Agatha Christie,4.50 from Paddington,1957,1957,"For an instant the two trains ran together, si...",3.95,41729,eng
3,2008,Crime Is Our Business,Agatha Christie,4.50 from Paddington,1957,1957,"For an instant the two trains ran together, si...",3.95,41729,eng
4,1990,Die Hard 2,Walter Wager,58 Minutes,1987,1987,NaN,3.55,278,NaN
...,...,...,...,...,...,...,...,...,...,...
4936,2015,Z for Zachariah,Robert C. O'Brien,Z for Zachariah,1974,1974,NaN,3.66,13608,eng
4937,2005,Zathura,Chris Van Allsburg,Zathura,2002,2002,NaN,3.78,2465,NaN
4938,1999,Zenon: Girl of the 21st Century,Marilyn Sadler,Zenon: Girl of the 21st Century,1997,1997,NaN,NaN,None,NaN
4939,2001,Zenon: The Zequel,Marilyn Sadler,Zenon: Girl of the 21st Century,1997,1997,NaN,NaN,None,NaN
4940,2003,Zenon: Z3,Marilyn Sadler,Zenon: Girl of the 21st Century,1997,1997,NaN,NaN,None,NaN

# Merge with CMU
We will now merge this data with the CMU dataset to add extra information on these films.

In [14]:
# Merge df with CMU depending on title_film and year_film
merge_cmu = merge_with_CMU(merge_goodreads)
merge_cmu

,wikipedia_id,movie_name,movie_date,box_office,runtime,language,countries,genres,clean_name,BookAuthor,BookTitle,BookStartYear,BookEndYear,BookDescription,BookRating,BookRatingNb,BookLanguage
0,77856,Mary Poppins,1964,102272727.0,139.0,English Language,United States of America,"Children's/Family, Musical, Fantasy, Comedy, D...",marypoppins,P. L. Travers,Mary Poppins,1934,1988,NaN,4.03,110287,eng
1,26878691,Mysterious Island,1982,NaN,100.0,Standard Mandarin,Hong Kong,"Action/Adventure, Wuxia, Martial Arts Film, Ch...",mysteriousisland,Jules Verne,The Mysterious Island,1874,1874,NaN,4.11,42044,eng
6,11633165,Innocence,1997,NaN,110.0,Turkish Language,Turkey,"Crime Fiction, Drama, Crime Drama",innocence,Frank Wedekind,"Mine-Haha, or On the Bodily Education of Young...",1903,1903,NaN,NaN,None,NaN
7,1369204,Juarez,1939,NaN,125.0,"English Language, Spanish Language",United States of America,"Costume drama, Biographical film, Historical f...",juarez,Bertita Harding,The Phantom Crown: The Story of Maximilian & C...,1934,1934,NaN,NaN,None,NaN
8,164388,The Great Santini,1979,4702575.0,115.0,English Language,United States of America,"Family Drama, Drama",thegreatsantini,Pat Conroy,The Great Santini,1976,1976,NaN,4.14,29091,eng
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8097,2238130,Crack-Up,1946,NaN,93.0,English Language,United States of America,"Thriller, Psychological thriller, Black-and-wh...",crack-up,Fredric Brown,Madman's Holiday,1943,1943,NaN,NaN,None,NaN
8098,24180469,Angel,1966,NaN,7.0,English Language,Canada,"Short Film, Animation",angel,Elizabeth Taylor,Angel,1957,1957,"At the turn of the century, 15-year-old Angeli...",3.85,1924,NaN
8099,5714284,The Four Feathers,1939,NaN,130.0,English Language,"England, United Kingdom","Adventure, War film, Action/Adventure, Drama, ...",thefourfeathers,A. E. W. Mason,The Four Feathers,1902,1902,"Just before sailing off to war in the Sudan, B...",3.91,4516,eng
8104,4492078,How to Eat Fried Worms,2006,13040527.0,98.0,English Language,United States of America,"Family Film, Drama, Comedy, Film adaptation",howtoeatfriedworms,Thomas Rockwell,How to Eat Fried Worms,1973,1973,<i>How to Eat Fried Worms</i> has happily repu...,3.76,43948,NaN
8105,23613845,The Trial,2009,NaN,72.0,English Language,Ireland,Documentary,thetrial,Franz Kafka,The Trial,1925,1925,NaN,3.97,215662,eng

Now we have more information on the films that are an adaptation of a book, such as their genres. Let's add more information such as the film's rating by merging with IMDB's dataset.

# Merge with IMDB
## Dataset from IMDB dowloaded from https://developer.imdb.com/non-commercial-datasets/
### Please download title.basics.tsv.gz and title.ratings.tsv.gz and put them in the data/ folder (unzip)

In [15]:
merge_imdb = merge_with_imdb(merge_cmu)
merge_imdb.to_csv('merge_imdb.csv', index=False)
merge_imdb

lines dropped during merge with IMDB:  935

,wikipedia_id,MovieName,MovieYear,MovieBoxOffice,MovieRuntime,MovieLanguage,MovieCountries,MovieGenre,BookAuthor,BookTitle,BookStartYear,BookEndYear,BookDescription,BookRating,BookRatingNb,BookLanguage,MovieRating,MovieRatingNb
0,5954041,The Fairylogue and Radio-Plays,1908,NaN,120.0,English Language,United States of America,"Silent film, Black-and-white",L. Frank Baum,The Wonderful Wizard of Oz,1900,1900,NaN,3.99,348112,NaN,5.2,78
1,19236804,Cleopatra,1912,NaN,88.0,English Language,United States of America,"History, Silent film, Drama",Margaret George,The Memoirs of Cleopatra,1997,1997,NaN,4.18,17986,eng,5.1,636
2,1090641,Atlantis,1913,NaN,113.0,"English Language, Danish Language",Denmark,"Silent film, Drama, Indie, Black-and-white",Gerhart Hauptmann,Atlantis,1912,1912,NaN,NaN,None,NaN,6.5,502
3,22521524,Ivanhoe,1913,NaN,NaN,"Silent film, English Language",United States of America,"Swashbuckler films, Silent film, Drama, Adventure",Sir Walter Scott,Ivanhoe,1820,1820,NaN,NaN,None,NaN,5.6,98
4,18979350,Cinderella,1914,NaN,52.0,"Silent film, English Language",United States of America,"Silent film, Fantasy, Black-and-white",Charles Perrault,Cinderella,1697,1697,The former Well Loved Tales series have been r...,3.97,1937,eng,6.0,1100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2836,32621340,The Client,2011,15780280.0,122.0,Korean Language,South Korea,"Crime Fiction, Mystery, Thriller, Drama",John Grisham,The Client,1993,1993,NaN,4.01,378641,eng,6.8,2040
2837,34647290,Love,2012,NaN,150.0,Standard Mandarin,"China, Taiwan","Romance Film, Drama",Leo Tolstoy,Anna Karenina,1873,1887,NaN,4.05,631550,eng,6.5,1668
2838,35020822,Helpless,2012,16175929.0,117.0,Korean Language,South Korea,"Thriller, Mystery",Miyuki Miyabe,All She Was Worth,1992,1992,Here is a deftly written thriller that is also...,3.69,2921,NaN,6.7,2662
2839,34956831,Nightmare,2011,NaN,NaN,Mandarin Chinese,China,Horror,Cornell Woolrich,Nightmare,1942,1942,NaN,NaN,None,NaN,5.7,21
2840,402866,The Hunchback of Notre Dame,1996,325338851.0,90.0,English Language,United States of America,"Family Film, Drama, Romance Film, Musical, Ani...",Victor Hugo,The Hunchback of Notre-Dame,1482,1482,NaN,4.0,162555,eng,1.9,84

We now have 2841 film samples that are adaptations from known books and which can use for analysis.

In [16]:
merge_imdb.columns

Index(['wikipedia_id', 'MovieName', 'MovieYear', 'MovieBoxOffice',
       'MovieRuntime', 'MovieLanguage', 'MovieCountries', 'MovieGenre',
       'BookAuthor', 'BookTitle', 'BookStartYear', 'BookEndYear',
       'BookDescription', 'BookRating', 'BookRatingNb', 'BookLanguage',
       'MovieRating', 'MovieRatingNb'],
      dtype='object')

In [17]:
cmu_plots = pd.read_csv("../MovieSummaries/plot_summaries.txt", sep='\t', names=['wikipedia_id', 'MoviePlot'], header=None)

In [18]:
cmu_plots

       wikipedia_id                                          MoviePlot
0          23890098  Shlykov, a hard-working taxi driver and Lyosha...
1          31186339  The nation of Panem consists of a wealthy Capi...
2          20663735  Poovalli Induchoodan  is sentenced for six yea...
3           2231378  The Lemon Drop Kid , a New York City swindler,...
4            595909  Seventh-day Adventist Church pastor Michael Ch...
...             ...                                                ...
42298      34808485  The story is about Reema , a young Muslim scho...
42299       1096473  In 1928 Hollywood, director Leo Andreyev  look...
42300      35102018  American Luthier focuses on Randy Parsons’ tra...
42301       8628195  Abdur Rehman Khan , a middle-aged dry fruit se...
42302       6040782  1940 - Operation Dynamo has just taken place. ...

[42303 rows x 2 columns]

In [19]:
character_columns = ['wikipedia_id', 'CharacterName', 'Gender', 
                         'Height', 'ActorName', 'ActorAgeAtRelease']
cmu_characters = pd.read_csv("../MovieSummaries/character.metadata.tsv", usecols= [0,3,5,6,8,9],sep='\t', names=character_columns, header=None, index_col=False)
cmu_characters = cmu_characters.dropna(subset=['ActorName']).reset_index(drop=True)

In [20]:
# all movies with plots
cmu_movies = clean_cmu("../MovieSummaries/movie.metadata.tsv")
cmu_movies = cmu_movies.dropna(subset=['movie_date'])
cmu_movies = cmu_movies[cmu_movies.movie_date != "nan"]
cmu_movies['movie_date'] = cmu_movies['movie_date'].astype('int64')
all_movies_df = merge_with_imdb(cmu_movies)
all_movies_df = all_movies_df.merge(right=cmu_plots, how="left", left_on='wikipedia_id', right_on='wikipedia_id', copy=False)
all_movies_df.to_csv('all_movies.csv', index=False, errors='ignore')
all_movies_df

lines dropped during merge with IMDB:  30201

,wikipedia_id,MovieName,MovieYear,MovieBoxOffice,MovieRuntime,MovieLanguage,MovieCountries,MovieGenre,MovieRating,MovieRatingNb,MoviePlot
0,10109752,Miss Jerry,1894,NaN,NaN,Silent film,United States of America,"Short Film, Silent film, Indie, Black-and-white",5.4,215,After finding out that her father is suffering...
1,28703057,The Corbett-Fitzsimmons Fight,1897,100000.0,NaN,,,Sports,5.2,541,The film no longer exists in its entirety; how...
2,142995,The Story of the Kelly Gang,1906,NaN,70.0,English Language,Australia,"Crime Fiction, Silent film, Biography, Indie, ...",6.0,947,The Story of the Kelly Gangs tone is of sorrow...
3,4849466,L'Enfant prodigue,1907,NaN,90.0,French Language,France,"Short Film, Silent film, Drama",5.7,28,NaN
4,32986669,Robbery Under Arms,1907,NaN,NaN,Silent film,Australia,"Silent film, Drama",4.3,27,Key scenes of the film included the branding o...
...,...,...,...,...,...,...,...,...,...,...,...
44633,21216680,TN-07 AL 4777,2009,NaN,115.0,Tamil Language,India,"Thriller, Drama",7.2,35,NaN
44634,28032359,Love At Seventh Sight,2009,NaN,100.0,Mandarin Chinese,China,"Romantic drama, Romance Film, Drama, Chinese M...",5.5,11,NaN
44635,16794053,Quarantine,2008,41319906.0,89.0,English Language,United States of America,"Thriller, Science Fiction, Horror, Zombie Film...",3.9,201,{{plot}} A television reporter named Angela Vi...
44636,12005,The Return of Godzilla,1984,4116395.0,103.0,"Japanese Language, Russian Language, English L...",Japan,"Science Fiction, Japanese Movies, Monster",6.8,2830,A Japanese fishing vessel is trying to find it...
44637,402866,The Hunchback of Notre Dame,1996,325338851.0,90.0,English Language,United States of America,"Family Film, Drama, Romance Film, Musical, Ani...",1.9,84,"In 1482 Paris, Clopin, a gypsy puppeteer, nar..."

In [21]:
# adapted movies with plot
adapted_movies_df = merge_imdb.merge(right=cmu_plots, how="left", left_on='wikipedia_id', right_on='wikipedia_id', copy=False)
adapted_movies_df.to_csv('adapted_movies.csv', index=False, errors='ignore')

In [22]:
# adapted_movie_actors
actors_df = merge_imdb.merge(right=cmu_characters, how="left", left_on='wikipedia_id', right_on='wikipedia_id', copy=False)
columns = ['wikipedia_id', 'MovieName', 'MovieYear', 'MovieBoxOffice', 'MovieCountries', 'MovieGenre', 'BookAuthor', 'CharacterName', 'Gender', 'Height', 'ActorName', 'ActorAgeAtRelease']
actors_df = actors_df[columns]
actors_df.to_csv('actors.csv', index=False, errors='ignore')
actors_df

,wikipedia_id,MovieName,MovieYear,MovieBoxOffice,MovieCountries,MovieGenre,BookAuthor,CharacterName,Gender,Height,ActorName,ActorAgeAtRelease
0,5954041,The Fairylogue and Radio-Plays,1908,NaN,United States of America,"Silent film, Black-and-white",L. Frank Baum,Dorothy Gale,F,NaN,Romola Remus,8.0
1,5954041,The Fairylogue and Radio-Plays,1908,NaN,United States of America,"Silent film, Black-and-white",L. Frank Baum,The Wizard,M,1.85,L. Frank Baum,NaN
2,19236804,Cleopatra,1912,NaN,United States of America,"History, Silent film, Drama",Margaret George,Cleopatra,F,NaN,Helen Gardner,NaN
3,19236804,Cleopatra,1912,NaN,United States of America,"History, Silent film, Drama",Margaret George,Iras,F,NaN,Pearl Sindelar,NaN
4,19236804,Cleopatra,1912,NaN,United States of America,"History, Silent film, Drama",Margaret George,Charmian,F,NaN,Miss Fielding,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
27804,402866,The Hunchback of Notre Dame,1996,325338851.0,United States of America,"Family Film, Drama, Romance Film, Musical, Ani...",Victor Hugo,Quasimodo's Mother,F,1.60,Mary Kay Bergman,35.0
27805,402866,The Hunchback of Notre Dame,1996,325338851.0,United States of America,"Family Film, Drama, Romance Film, Musical, Ani...",Victor Hugo,Esmeralda,F,1.65,Demi Moore,33.0
27806,402866,The Hunchback of Notre Dame,1996,325338851.0,United States of America,"Family Film, Drama, Romance Film, Musical, Ani...",Victor Hugo,Brutish Guard,M,1.68,Corey Burton,40.0
27807,402866,The Hunchback of Notre Dame,1996,325338851.0,United States of America,"Family Film, Drama, Romance Film, Musical, Ani...",Victor Hugo,The Old Heretic,M,NaN,Gary Trousdale,36.0
27808,402866,The Hunchback of Notre Dame,1996,325338851.0,United States of America,"Family Film, Drama, Romance Film, Musical, Ani...",Victor Hugo,Phoebus,M,1.88,Kevin Kline,48.0

In [23]:
adapted_movies_df = pd.read_csv('adapted_movies.csv')
adapted_movies_df.MovieGenre = adapted_movies_df.MovieGenre.apply(lambda x: x.split(", ") if isinstance(x, str) else None)
list_genres = set(adapted_movies_df.MovieGenre.explode().unique())
print(len(list_genres))

244

In [24]:
import json
with open('../data/genre_categories.json', 'r') as f:
    genre_map = json.load(f)

In [25]:
list_map_genres = set([value for key, values in genre_map.items() for value in values])

In [26]:
len(list_map_genres)

print(diff := list_genres - list_map_genres)
print(len(diff))

{None}
1